<div class="container">
  <div class="row">

  <h2><%= @article.title %></h2>
  <ul>
    <li><%= raw @html %></li>
    </ul>

  <%= link_to "Delete", article_path(@article),
    method: :delete,
    date: { confirm: "Are you sure ?" } %>

  <%= link_to "Edit", edit_article_path(@article) %>

  </div>
</div>
